$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiay-color: #99E2D0;
$logo-family: 'Shrikhand', cursive;
$page-font-family: 'Roboto', sans-serif;

//Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$breal-l: 992px;

body {
    font-family: $page-font-family;
    font-size: 1rem;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.main-content-title {
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 1px 5px 1px #6561692e;
    
}

.column img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.column a {
    text-decoration: none;
    color: black;
    border-radius: 15px;
    transition: box-shadow, border-radius .5s ease-out;
}

.column a:hover {
   
    box-shadow: 0px 1px 6px 2px rgba(101, 97, 105, 0.1803921569);
    
}

img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e4ea66;;
    padding-bottom: 60px;
}

.main-header h1 {
    font-family: "Shrikhand", cursive;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    border-bottom-width: 3px;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    margin: 0;
}

.sub-header-title {
    text-align: center;
    padding: 0px 40px;
}

.call-to-action {
    padding: 17px 40px;
    background-image: linear-gradient($secondary-color, $primary-color);
    font-weight: 700;
    font-size: .9rem;
    border-radius: 50px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: .5px;
    box-shadow: 1px 3px 7px 1px #9a8ea8;
    transition: background-image, padding, box-shadow 0.5s ease-out;
    cursor: pointer;
}

.call-to-action:hover {
    background-image: linear-gradient(hwb(317deg 47% 0% / 80%), hwb(267deg 34% 14% / 80%));
    padding: 17px 41px;
    box-shadow: 1px 3px 4px 2px #9a8ea8;
}

.top-header-bar {
    margin-bottom: 15px;
    background-color: #dad7de;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
}
.top-header-bar h5 {
    display: inline-block;
    padding-left: 10px;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #ebebed;
    padding-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-header-title {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

ul.menu-buttons {
    width: 87%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding: 0px 0px 30px 0px;
}

.menu-buttons li {
    border: 1px solid;
    border-radius: 15px;
    list-style: none;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(230, 228, 234, 0.4);
    border: none;
    box-shadow: 0px 5px 8px 2px rgb(97 96 99 / 32%);
    transition: background-color .5s ease-out .3s ;
}

.menu-num-cirlcle {
    padding: 5px 8px;
    background: $primary-color;
    color: #fff;
    border-radius: 50%;
    font-size: .7rem;
    position: relative;
    left: -3%;
}

.menu-icon {
    margin-left: 9px;
}
.menu-icon, .menu-label {
    margin-right: 20px;
}

.menu-label h5 {
    font-size: .9rem;
}

.menu-icon {
    color: #656169;
}

.new {
    background: #8ed9c8;
    color: #055643;
    font-weight: 900;
    font-size: 0.8rem;
    width: 20%;
    padding: 4px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    z-index: 1000;
    left: 73%;
}

.title-and-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 3px;
    cursor: pointer;
}

.title-and-icon h5 {
    margin: 0;
}

.fa-regular, .fa-heart {
    font-size: 1.7rem;
}

.title-and-icon {
    i:hover {
        &.fa-heart {
            font-weight: 900;
            font-size: 1.7rem;
            background: -webkit-linear-gradient( $primary-color, $secondary-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all .5s ease-out .1s;
        }
    }
} 

.content p {
    font-size: .8rem;
    padding: 0 10px;
    margin: 0;
}

.content {
    padding-bottom: 15px;
}

footer {
    background: #1c1b1c;
    color: #fff;
    font-size: 0.8rem;
    /* font-weight: 900; */
    word-spacing: 1px;
    letter-spacing: .2px;
}

ul.footer-nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    padding: 20px 0;
}

ul.footer-nav-links li {
    margin-bottom: 5px;
}

ul.footer-nav-links li h3 {
    font-family: $logo-family;
    margin-top: 0;
    margin-bottom: 10px;
}

.footer-nav-links li i {
    padding-right: 10px;
}


//menu-page-styles

.menu-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
}

.menu-logo h1 {
    font-family: "Shrikhand", cursive;
    margin: 0;
    font-size: 1.6rem;
    padding-left: 60px;
}

.menu-barner img {
    height: 175px;
}

.menu-container {
    border-top-left-radius: 30px;
    background: #e8e7ea;
    border-top-right-radius: 30px;
    padding: 20px 15px;
    position: relative;
    top: -30px;
    margin-bottom: -29px;
}

.menu-container li {
    list-style: none;
}

.menu-header-title h3 {
    font-family: $logo-family;
    margin: 0;
}

.menu-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    margin: 0;
}

ul.menu-list-container {
    padding: 0;
}

li.menu-title h4 {
    font-weight: 500;
}

.menu-container li:first-child {
    background-color: #e8e7ea;
    box-shadow: none;
    padding-left: 0px;
}

.menu-container li {
    background-color: #fff;
    list-style: none;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 6px 0px darkgrey;
}

.menu-list-container li h4, .menu-list-container li p {
    margin: 0;
}

.menu-list-container li h4 {
    font-size: .8rem;
    padding-bottom: 5px;
}

.menu-list-container li p {
    font-size: .7rem;
}

li.menu-title {
    margin: 0;
    padding-bottom: 7px;
}

hr {
    border-top: 2px solid #8ed9c8;
    width: 30px;
    text-align: left;
    margin: 4px 0;
}

.menu-1, .menu-2, .menu-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.menu-desc-ingrendient {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-desc-container {
    cursor: pointer;
    // flex: 1;
    flex: 1 0 100%;
}

.menu-title {
    padding: 10px 10px 0px 10px;
}

.menu-desc-ingrendient {
    padding: 1px 10px 10px 10px;
}

.menu-prize {
    font-weight: bolder;
}

section.place-order {
    text-align: center;
    padding: 30px;
}

.select-menu {
    display: flex;
    position: relative;
    background: #8ed9c8;
    width: 55px;
    cursor: pointer;
    height: 57px;
    margin: 0;
    left: 35px;
}

.selected-menu {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    top: 28%;
    left: 28%;
    transition-property: left;
    transition-duration: .3s;
}

.select-menu input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.select-menu input:checked ~ .selected-menu {
    background-color: #fff;
}

.selected-menu::after {
    content: "";
    position: absolute;
    display: none;
}

.select-menu input:checked ~ .selected-menu::after {
    display: block;
}

.select-menu .selected-menu:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #8ed9c8;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform  0.4s ease-out;
}

.menu-content-descrition {
    flex-basis: 100%;
}

.menu-content {
    display: flex;
    width: 109%;
    justify-content: space-between;
    transition-property: width;
    transition-duration: .3s;
}

.menu-desc-ingrendient {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-desc-container:hover { 
    .menu-content {
        width: 100%;
        .select-menu {
            left: 0;
            .selected-menu:after {
                transform: rotate(45deg);
            }
        }
    }
}

ul.menu-buttons {
    li:hover {
        background: #9356dc33;
        cursor: pointer;
    }
}


@keyframes slideUp {
    from {
        transform:translateY(10%);
        opacity: .1;
        animation: linear;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
        animation: linear;
    }
}

.menu ul li {
    animation:  2s ease-out 0s 1 slideUp;
}

.menu ul li:nth-child(2) { animation-delay: .5s }
.menu ul li:nth-child(3) { animation-delay: .7s }
.menu ul li:nth-child(4) { animation-delay: .9s }
.menu ul li:nth-child(5) { animation-delay: 1s }

.place-order input {
    padding: 10px 50px;
    border-radius: 30px;
    color: #fff;
    background-image: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    box-shadow: 0px 0px 4px 1px darkgrey;
    cursor: pointer;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

@keyframes load {
    from {
       transform: rotate(0turn);
    }
    
    to { 
        transform: rotate(1turn); 
        visibility: visible;
    }
}

.loader {
    width: 150px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 22deg, #0003,#000);
    mask: conic-gradient(from 22deg, #0003,#000);
    animation: load 3s steps(12);
    visibility: hidden;
}
.loader, 
.loader:before,
.loader:after {
    --_g: linear-gradient(#9356DC 0 0) 50%;
    background: var(--_g) / 34% 5% space no-repeat,
    var(--_g) / 5% 34% no-repeat space;
}
.loader:before,
.loader:after {
    content: "";
    grid-area: 1 / 1;
    transform: rotate(30deg);
}
.loader:after {
    transform: rotate(60deg);
}

.page-loader {
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index: 100000;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    visibility: hidden;
    animation: hideMe;
    animation-duration: 3.5s;
}

@keyframes hideMe {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

@media screen and (min-width: 320px) {
    .menu-desc-container {
        .menu-content {
            width: 110%;
        }
    }
    
}

@media only screen and (min-width: 768px)  {

    .menu-logo {
        width: 76%;
        margin: 0 auto;
        h1 {
            margin: 0 auto;
        }
    }

    .menu-header-title {
        width: 80%;
        margin: 0 auto;
    }

    section.menu {
        margin: 0 auto;
        width: 80%;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        
    }

    .menu-desc-container {
       .menu-content {
            width: 106%;
        } 
    } 

    .column {
        flex: 1 0 33%;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1024px) {

    .menu-logo {
        width: 78%;
        margin: 0 auto;
        h1 {
            margin: 0 auto;
        }
    }

    .main-content-title {
        padding-top: 25px;
        margin: 0;
    }

    ul.menu-buttons {
        padding: 0px 0px 0px 0px;
    }

    
    main.main-content {
        width: 80%;
        margin: 0 auto;
        background: #fff;
    }
    
    

    .menu-desc-container {
        .menu-content {
            width: 104%;
        }
    }


    .row {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;
    }

    .column {
        flex: 1;
    }

    ul.footer-nav-links {
        width: 80%;
    }
}